<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Information Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <main class="container text-center py-5 mt-5">
        <div>
            <img src="https://via.placeholder.com/150" alt="Profile Image" class="img-fluid rounded-circle mb-3">
            <h1 class="mb-2">Shivam Sahu</h1>
            <h1 class="lead">Angular Frontend Developer</h1>
           <h1>Phone/Whatsapp -  (+91) 9752245608</h1>
        </div>
        
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
